.header{
	background: yellow;
}
.c-name{
	width:100%;
	height: 54px;
	padding:10px 15px;
	display: flex;
	background: #fff;
	span{
		width:40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		background: yellow;
		border-radius: 50%;
		margin-right:10px;
	}
	input{
		flex:1;
		text-align: right;
		border:none;
	}
}

.c-icon-list{
	background: #fff;
	padding-bottom:10px;
	ul{
		display: flex;
		flex-wrap: wrap;
		li{
			width:20%;
			span{
				width:40px;
				height: 40px;
				background: yellow;
				text-align: center;
				line-height: 40px;
				border-radius: 50%;
				margin:10px auto 0 auto;
				display: block;
			}
		}
	}
}

.save-btn{
	width:80%;
	height: 40px;
	background: yellow;
	border-radius: 20px;
	position:absolute;
	bottom:20px;
	left:50%;
	transform: translateX(-50%);
}