.header{
	width:100%;
	height: 100px;
	background: yellow;
	font-size:12px;
	padding:10px;
	.header-t{
		width:100%;
		display: flex;
		justify-content: space-between;
		.time{
			span{
				border:1px solid gray;
				border-radius: 6px;
				padding:2px 6px;
				margin-right:10px;
			}
		}
	}
}

.mui-bar-nav~.mui-content{
	padding-top: 100px;
    padding-bottom: 44px;
    background: #fff;
    height: 100%;
    box-sizing: border-box;
	display: flex;
	flex-direction: column;
	.bill-wrap{
		position:relative;
		width:100%;
		height: 100%;
	}
	.con-title{
		width:100%;
		height: 44px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:0 15px;
		font-size:12px;
		.tab-list{
			border:1px solid gray;
			border-radius: 10px;
			overflow: hidden;
			height: 30px;
			display: flex;
			span{
				padding:0 12px;
				height: 30px;
				line-height: 30px;
				&:nth-child(1){
					border-right:1px solid gray;
				}
				&.active{
					background: yellow;
				}
				
			}
		}
	}
	.content{
		width:100%;
		flex:1;
		background: blue;
	}
	
}

//侧边栏
.aside-type{
	padding:10px;
	background: #fff;
	h1{
		font-size:16px;
		border-left:4px solid yellow;
		padding-left:10px;
	}
	ul{
		display: flex;
		flex-wrap:wrap;
		margin-bottom:20px;
		li{
			padding:0 6px;
			border:1px solid gray;
			margin-right:10px;
			font-size:12px;
			border-radius: 10px;
			margin-top:10px;
			&.active{
				color:yellow;
				border-color:yellow;
			}
		}
	}
}

//按月显示
.day-item{
	.day-title{
		width:100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color:gray;
		padding:0 15px;
		font-size:12px;
		height: 44px;
		background: #fff;
	}
	
}

.bill-item{
	.mui-slider-handle{
		width:100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size:12px;
		dl{
			display: flex;
			align-items: center;
		}
		dt{
			width:40px;
			height: 40px;
			border-radius: 50%;
			background: yellow;
			text-align: center;
			line-height: 40px;
			margin-right:10px;
			span{
				vertical-align: middle;
			}
		}
	}
}
.year-wrap{
	.month-title{
		width:100%;
		display: flex;
		align-items: center;
		li{
			width:25%;
			font-size:12px;
			span{
				display: block;
			}
			&:nth-child(1){
				span{
					display: inline-block;
				}
			}
		}
		
	}	
}

.go-bill{
	width:60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 3px gray;
	position:fixed;
	bottom:44px;
	left:50%;
	transform: translateX(-50%);
	z-index:99;
	span{
		&.mui-icon{
			font-size:60px;
			vertical-align: middle;
		}
	}
}
